<html>
<head>
    <title>Feedback form</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    form{
        border: 1px solid blue;
        border-radius: 10px;
        color: red;
        padding: 10px;
        background-color: cadetblue;
        }
    h1{
        text-align: center;
        color: brown;
    }
    b{
        font-size: 20px;
        font-family: cursive;
        color:red;
    }
</style>
</head>
<body>
<h1>Feedback form </h1>
<hr/>
<div class="container">
    <center><h3> Your Comments are....</h3></center>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            {% if fbs %}
                {% for i in fbs %}
                    {% if i.rating >= 4 %}
                   <b> Name:{{ i.name }}</b><br>
                    Rating:{{ i.rating }}<br>
                    Time:{{ i.time }}<br>
                    Feedback:{{ i.feedback }}<br><br>
                    {% endif %}
                {% endfor %}
            {% else %}
                <center><h4> Feedback are not available</h4></center>
            {% endif %}

        </div>
    </div>
    <center><h2>Write your feedback</h2></center>
    <div class="row">
        <div class=" col-md-offset-4 col-md-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <br/>
                <center><input type="submit" value="Submit" class="btn btn-success">
                <input type="reset" value="Clear" class="btn btn-default">
                </center>
            </form>
        </div>
    </div>

</div>
</body>
</html>